<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p>Yth. <%= @registration.first_name %> <%= @registration.last_name %></p>
    <p>Terima kasih karena telah melakukan pendaftaran di Indonesia Economic Leadership Forum.
      Kami sangat mengapresiasinya. Langkah berikutnya adalah melakukan pembayaran sebesar:
    </p>

    <p>
      Rp500.<%= @registration.order_number %>
    </p>

    <p>
      Pembayaran ditujukan ke rekening di bawah ini:
    </p>

    <p>
      <strong>BCA</strong><br>
      <strong>8830650173</strong><br>
      <strong>Arief Rizky Ramadhan</strong>
    </p>

    <p>
      Setelah melakukan pembayaran, Anda dapat melakukan konfirmasi pembayaran melalui link di bawah ini:
    </p>

    <p>
      Link goes here
    </p>
  </body>
</html>
