<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Thank You</h3>
      </div>

      <div class="panel-body">
        <p>
          Lakukan pembayaran sebesar Rp5.000.<%= @registration.order_number %>
        </p>
      </div>
    </div>
  </div>
</div>
