<header>
  <div id="about" class="container">
    <div class="row">
      <div class="col-sm-8">
				<div class="big-gap">

				</div>
        <div class="header-content">
          <div class="header-content-inner">
            <h1 style="font-weight: 600;">Leading In Turbulance Times With Economic Leadership</h1>
						<p>Sociopreneur ID founded to promote and foster social entrepreneurship in
							Indonesia through various activities in order to nurture the growth of
							leaders with entrepreneurial mindset in business, government, academia,
							and socio cultural. These leaders will make major breakthroughs not only
							for themselves but also to society and planet.</p>
            <a href="#activities" class="btn btn-outline btn-xl page-scroll">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
