<header>
  <div id="about" class="container">
    <div class="row">
      <div class="col-sm-8">
				<div class="big-gap">

				</div>
        <div class="header-content">
          <div class="header-content-inner">
            <h1 style="font-weight: 600;">Leading In Turbulance Times With Economic Leadership</h1>
            <p><strong>Bank Indonesia Institute (BINS)</strong> memiliki agenda besar untuk menciptakan
              pemimpin ekonomi terbaik se regional yang diharapkan mampu menciptakan
              terobosan, menjadi <em>game changer</em> yang memiliki wawasan kebangsaan.</p>

            <p>Dengan mengkolaborasikan 4 sektor yaitu Pendidikan, Swasta, Pemerintah,
              dan Masyarakat. <strong>Bank Indonesia Institute (BINS)</strong> didukung oleh para pemangku
              kepentingan, faculty member, dan semua pihak yang memiliki komitmen tinggi
              untuk mencetak lebih banyak pemimpin ekonomi.</p>
            <a href="#" class="btn btn-outline btn-xl page-scroll">Selengkapnya</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
